<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <mat-tab-group mat-stretch-tabs>
        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon>queue_music</mat-icon>
            <span >Lista de reproducción</span>
          </ng-template>
              <div class="center">
                  <mat-icon *ngIf="!show_tracks" (click)="show_tracks=true">arrow_back</mat-icon>  
                  &nbsp;&nbsp;
                  <mat-form-field class="example-form-field" class="form-full-width">
                      <input matInput type="text" placeholder="Buscar canción" #search_txt>
                      <button mat-button *ngIf="search_txt.value" matSuffix mat-icon-button aria-label="Clear">
                        <mat-icon (click)="search_txt.value=''">close</mat-icon>
                      </button>
                  </mat-form-field>
                  &nbsp;&nbsp;
                  <mat-icon (click)="search_track(search_txt.value)">search</mat-icon> 
              </div>
              <div *ngIf="show_tracks">
                  <mat-list>
                      <h3 mat-subheader>Lista en reproducción</h3>
                      <mat-divider></mat-divider>
                      <mat-list-item *ngFor="let track of tracks">
                        <mat-icon mat-list-icon *ngIf="track.id === playing_track">play_arrow</mat-icon>                        
                        <mat-icon mat-list-icon *ngIf="track.id !== playing_track">music_note</mat-icon>                        
                        <h4 mat-line>{{track.track_name}}</h4>
                        <p mat-line class="right">
                          {{track_likes(track.id, 1)}}
                          <mat-icon mat-list-icon (click)="like_track(track.id, 1)">thumb_up_alt</mat-icon>
                          {{track_likes(track.id, 2)}}
                          <mat-icon mat-list-icon (click)="like_track(track.id, 2)">thumb_down_alt</mat-icon>
                          <span class="left-padding-10">{{track.track_duration_seg}}</span>
                          </p>
                        <p mat-line>{{track.track_artists}}</p>
                        <mat-divider></mat-divider>
                      </mat-list-item>
    
                  </mat-list>
              </div>        
              
              <div *ngIf="!show_tracks">
                  <mat-list>
                      <h3 mat-subheader>Resultados de búsqueda</h3>
                      <mat-divider></mat-divider>
                      <mat-list-item *ngFor="let track_result of track_results.spotify">
                          <mat-icon mat-list-icon>music_note</mat-icon>
                          <h4 mat-line>{{track_result.name}}</h4>
                          <p mat-line class="right">
                            <span class="right-padding-10">{{track_result.duration_ms}}</span>
                            <mat-icon mat-list-icon (click)="playlist_add(2, track_result.id)">add</mat-icon>
                          </p>
                          <p mat-line>{{spotify_artists(track_result)}}</p>
                          <mat-divider></mat-divider>
                      </mat-list-item>

                      <mat-list-item *ngFor="let track_result of track_results.local">
                        <mat-icon mat-list-icon>music_note</mat-icon>
                        <h4 mat-line>{{track_result.track_name}}</h4>
                        <p mat-line class="right">
                          <span class="right-padding-10">{{track_result.duration_seg}}</span>
                          <mat-icon mat-list-icon (click)="playlist_add(1, track_result.id)">add</mat-icon>
                        </p>
                        <p mat-line>{{track_result.artists}}</p>
                        <mat-divider></mat-divider>
                      </mat-list-item>
                      
                  </mat-list>
              </div> 
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label >
            <mat-icon class="example-tab-icon">account_circle</mat-icon>
            Perfil
          </ng-template>
          <form [formGroup]="userDataForm">
              <div class="center">
                  <mat-form-field class="full-width">
                      <input matInput placeholder="Nombre" formControlName="name" value="">
                     
                  </mat-form-field>
                  <br>
                  
                  <mat-form-field class="full-width">
                      <input matInput placeholder="Apellido materno" formControlName="maternal_surname" value="">
                    
                  </mat-form-field>
                  <br>
                
                  <mat-form-field class="full-width">
                      <input matInput placeholder="Apellido paterno" formControlName="paternal_surname" value="">
                     
                  </mat-form-field>
                  <br>

                  <mat-form-field class="full-width">
                      <input matInput placeholder="Teléfono" formControlName="telephone" value="">

                  </mat-form-field>

                  <button type="submit" mat-raised-button (click)="saveUserData()" [disabled]="!userDataForm.dirty">Guardar</button>

              </div>
          </form>
        </mat-tab>       
      </mat-tab-group>

<router-outlet></router-outlet>
