/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.center{
    text-align: center;
}

.right{
    text-align: right;
}

.left{
    text-align: left;
}

.full-width {
    width: 100%;
}